*{
    padding: 0;
    margin: 0;
}
body {
    text-align: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    display: flex;
    font-family: Arial, sans-serif;
  
  }

  body h1 {
    color: blueviolet;
    font-size: 60px;
  }

label{
    margin: 20px;
    font-size: 25px;
}
  input[type="range"] {
    margin-top: 60px;
    width: 250px;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    border-radius: 15px;
    border: 2px solid blueviolet;
    font-size: 20px;
  }

  #result {
    font-size: 20px;
    margin-top: 20px;
  }

  button{
    border: 2px solid blueviolet;
    border-radius: 15px;
    color: blueviolet;
    margin-top: 20px;
    padding: 14px;
    font-size:14px ;
    cursor: pointer;
    width: 150px;
  }

  button:hover{
    background-color: white;
    color:purple;
  }
  